<p class="customDirP" myCustomDirective>My Products component works !!</p>

<div #div1>
  <p>Parent</p>
  <p>{{ product.name }}</p>
  <p>{{ product.description }}</p>

  <button type="button" (click)="productChanged()">Local Ref</button>
</div>

<div>
  <button type="button" (click)="addAndPrintArray()">
    Add Product and Print
  </button>
</div>

<app-product-detail
  [productToChild]="product"
  (onProductChanged)="productChanged($event)"
></app-product-detail>

<div>
  <!-- <ng-content></ng-content> Transcluded content -->
</div>
