<div *ngIf="false">
  <p class="customDirP" myCustomDirective>My Products component works !!</p>

  <div class="col-sm-8 m-2">
    <input type="text" class="form-control" #txtProductId />

    <button
      type="button"
      class="btn btn-info m-2"
      (click)="goToProductDetailPage()"
    >
      GoToProductDetails
    </button>
  </div>

  <div #div1>
    <p>Parent</p>
    <p>{{ product.name }}</p>
    <p>{{ product.description }}</p>

    <button type="button" (click)="productChanged()">Local Ref</button>
  </div>

  <div>
    <button type="button" (click)="addAndPrintArray()">
      Add Product and Print
    </button>
  </div>

  <app-product-detail
    (onProductChanged)="productChanged($event)"
  ></app-product-detail>
</div>

<div *ngIf="false">
  <!-- <ng-content></ng-content> Transcluded content -->
</div>

<div *ngIf="true">
  <div class="col-sm-8 m-2">
    <label> Search </label>
    <input type="text" class="form-control" [(ngModel)]="searchText" />
  </div>

  <div>
    <h2>Products</h2>

    <div class="row">
      <div class="col-sm-6">
        <div
          class="card"
          *ngFor="let product of products | filter: searchText:'name'"
          (click)="onProductSelect(product.id)"
        >
          <div class="card-body">
            <!-- <div>
              {{ product | json }}
            </div> -->
            <h2>
              {{ product.name | limitTo: 10 }}
            </h2>
            <p>Price: {{ product.price | currency: "INR" }}</p>
            <p>EXP Date: {{ product.expireDate | date: "full" }}</p>
            <!-- Medium-->
            <p>Active : {{ product.active ? "YES" : "NO" }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
